.env
.env.*
*.env
*.env.*
.envrc

secrets/
.secrets/
credentials/
.credentials/

*.pem
*.key
*.der
*.crt
*.pfx
*.p12
*.p7b
*.jks
*.keystore
*.pkcs12
*.p8

id_rsa
id_rsa.*
id_dsa
id_ecdsa
id_ed25519
!*.pub

.npmrc
.npmrc.*
.pypirc
.gem/credentials
.sentryclirc
.netrc
.boto
.boto.cfg
.vault-token

.docker/config.json
.gcloud/
.azure/
.kube/
.aws/
.ssh/

terraform.tfstate
terraform.tfstate.*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log

client_secret*.json
service-account*.json
serviceAccount*.json
firebase-adminsdk-*.json
google-credentials.json
/credentials.json
/secrets.json
